In [1]:
"I eat %d apples." %3

'I eat 3 apples.'

In [4]:
"I eat %s apples." %"three"

'I eat three apples.'

In [6]:
"Error is %d%%." %98

'Error is 98%.'

In [7]:
"%10s" %"hi"

'        hi'

In [10]:
"%-10sjane" %"hi"

'hi        jane'

In [11]:
"%0.4f" %3.141592

'3.1416'

In [12]:
"%10.4f" %3.141592

'    3.1416'

In [13]:
"I eat {0} apples".format(3)

'I eat 3 apples'

In [15]:
number = 10
day = 3
"I ate {0} apples. so I was sick for {1} days.".format(number, day)

'I ate 10 apples. so I was sick for 3 days.'

In [18]:
"I ate {0} apples. so I was sick for {1} days.".format(10, "day")

'I ate 10 apples. so I was sick for day days.'

In [19]:
"{0:<10}".format("hi")

'hi        '

In [20]:
"{0:>10}".format("hi")

'        hi'

In [22]:
"{0:^10}".format("hi")

'    hi    '

In [27]:
"{0:=^10}".format("hi")

'====hi===='

In [26]:
"{0:!<10}".format("hi")

'hi!!!!!!!!'

In [29]:
y = 3.141592
"{0:0.4f}".format(y)

'3.1416'

In [30]:
"{0:10.4f}".format(y)

'    3.1416'

In [34]:
"{{  and  }}".format()

'{  and  }'

In [38]:
name = '홍길동'
age = 30
f'나의 이름은 {name}입니다. 나이는 {age}입니다.'

'나의 이름은 홍길동입니다. 나이는 30입니다.'

In [42]:
age = 30
f'나는 내년이면 {age+1}입니다.'

'나는 내년이면 31입니다.'

In [40]:
d = {'name':'홍길동', 'age':30}
f'나의 이름은 {d["name"]}입니다. 나이는 {d["age"]}입니다.'

'나의 이름은 홍길동입니다. 나이는 30입니다.'

In [44]:
f'{"hi":<10}'

'hi        '

In [45]:
"{0:<10}".format("hi")

'hi        '

In [46]:
y = 3.141592
f'{y:0.4f}'

'3.1416'

In [51]:
f'{"python":!^12}'

'!!!python!!!'

In [55]:
a = "hobby"
a.count("b")

2

In [62]:
a = "Python is the best choice"
a.find("P")

0

In [61]:
a.find("k")

-1

In [63]:
a = "Life is too short"
a.index('t')

8

In [64]:
a.index('k')

ValueError: substring not found

In [65]:
",".join('abcd')

'a,b,c,d'

In [66]:
a = 'hi'
a.upper()

'HI'

In [67]:
a = 'HI'
a.lower()

'hi'

In [68]:
a = ' hi '
a.lstrip()

'hi '

In [69]:
a.rstrip()

' hi'

In [75]:
a = ' What\'s your name? '
a.strip()

"What's your name?"

In [78]:
a = "Life is too short"
a.replace("Life", "Your leg")

'Your leg is too short'

In [79]:
a = "Life is too short"
a.split()

['Life', 'is', 'too', 'short']

In [82]:
b = "a:b:c:d"
b.split(':')

['a', 'b', 'c', 'd']