In [1]:
"I eat %d apples." %3

'I eat 3 apples.'

In [4]:
"I eat %s apples." %"three"

'I eat three apples.'

In [6]:
"Error is %d%%." %98

'Error is 98%.'

In [7]:
"%10s" %"hi"

'        hi'

In [10]:
"%-10sjane" %"hi"

'hi        jane'

In [11]:
"%0.4f" %3.141592

'3.1416'

In [12]:
"%10.4f" %3.141592

'    3.1416'

In [13]:
"I eat {0} apples".format(3)

'I eat 3 apples'

In [15]:
number = 10
day = 3
"I ate {0} apples. so I was sick for {1} days.".format(number, day)

'I ate 10 apples. so I was sick for 3 days.'

In [18]:
"I ate {0} apples. so I was sick for {1} days.".format(10, "day")

'I ate 10 apples. so I was sick for day days.'

In [19]:
"{0:<10}".format("hi")

'hi        '

In [20]:
"{0:>10}".format("hi")

'        hi'

In [22]:
"{0:^10}".format("hi")

'    hi    '

In [27]:
"{0:=^10}".format("hi")

'====hi===='

In [26]:
"{0:!<10}".format("hi")

'hi!!!!!!!!'

In [29]:
y = 3.141592
"{0:0.4f}".format(y)

'3.1416'

In [30]:
"{0:10.4f}".format(y)

'    3.1416'

In [34]:
"{{  and  }}".format()

'{  and  }'

In [38]:
name = '홍길동'
age = 30
f'나의 이름은 {name}입니다. 나이는 {age}입니다.'

'나의 이름은 홍길동입니다. 나이는 30입니다.'

In [42]:
age = 30
f'나는 내년이면 {age+1}입니다.'

'나는 내년이면 31입니다.'

In [40]:
d = {'name':'홍길동', 'age':30}
f'나의 이름은 {d["name"]}입니다. 나이는 {d["age"]}입니다.'

'나의 이름은 홍길동입니다. 나이는 30입니다.'

In [44]:
f'{"hi":<10}'

'hi        '

In [45]:
"{0:<10}".format("hi")

'hi        '

In [46]:
y = 3.141592
f'{y:0.4f}'

'3.1416'

In [51]:
f'{"python":!^12}'

'!!!python!!!'

In [55]:
a = "hobby"
a.count("b")

2

In [62]:
a = "Python is the best choice"
a.find("P")

0

In [61]:
a.find("k")

-1

In [63]:
a = "Life is too short"
a.index('t')

8

In [64]:
a.index('k')

ValueError: substring not found

In [65]:
",".join('abcd')

'a,b,c,d'

In [66]:
a = 'hi'
a.upper()

'HI'

In [67]:
a = 'HI'
a.lower()

'hi'

In [68]:
a = ' hi '
a.lstrip()

'hi '

In [69]:
a.rstrip()

' hi'

In [75]:
a = ' What\'s your name? '
a.strip()

"What's your name?"

In [78]:
a = "Life is too short"
a.replace("Life", "Your leg")

'Your leg is too short'

In [79]:
a = "Life is too short"
a.split()

['Life', 'is', 'too', 'short']

In [82]:
b = "a:b:c:d"
b.split(':')

['a', 'b', 'c', 'd']

In [2]:
a = [1, 3, 5, 7, 9]
a

[1, 3, 5, 7, 9]

In [3]:
a[0]

1

In [4]:
a[0] + a[2]

6

In [5]:
a[-1]

9

In [6]:
a = [1, 2, 3, ['a', 'b', 'c']]

In [7]:
a[0]

1

In [8]:
a[1]

2

In [9]:
a[-1]

['a', 'b', 'c']

In [10]:
a[3]

['a', 'b', 'c']

In [11]:
a[-1][0]

'a'

In [12]:
a[-1][1]

'b'

In [13]:
a = [1, 2, ['a', 'b',['Life', 'is']]]

In [14]:
a[2][2][0]

'Life'

In [15]:
a = [1, 2, 3, 4, 5]
a[0:2]

[1, 2]

In [16]:
a = "12345"
a[0:2]

'12'

In [21]:
a = [1, 2, 3, ['a', 'b', 'c'], 4, 5]
a[2:5]

[3, ['a', 'b', 'c'], 4]

In [19]:
a[3][:2]

['a', 'b']

In [22]:
a = [1, 2, 3]
b = [4, 5, 6]
a + b

[1, 2, 3, 4, 5, 6]

In [24]:
a = [1, 2, 3]
a*3

[1, 2, 3, 1, 2, 3, 1, 2, 3]

In [25]:
a = [1, 2, 3, 4, 5]
b = a[:2]
c = a[2:]
b

[1, 2]

In [26]:
c

[3, 4, 5]

In [27]:
a = "abc"
a*3

'abcabcabc'

In [28]:
a = [1, 2, 3]
len(a)

3

In [29]:
a = ['1', '2', '3']
a[2] + "hi"

'3hi'

In [31]:
a = [1, 2, 3]
str(a[2]) + "hi"

'3hi'

In [32]:
a = [1, 2, 3]
a[2] = 4
a

[1, 2, 4]

In [33]:
a = [1, 2, 3]
del a[1]
a

[1, 3]

In [34]:
a = [1, 2, 3, 4, 5]
del a[2:]
a

[1, 2]

In [35]:
a = [1, 2, 3]
a.append(4)
a

[1, 2, 3, 4]

In [36]:
a.append([5,6])
a

[1, 2, 3, 4, [5, 6]]

In [38]:
a = [1, 4, 2, 3]
a.sort()
a

[1, 2, 3, 4]

In [39]:
a = ['a', 'c', 'b']
a.reverse()
a

['b', 'c', 'a']

In [40]:
a = [1, 2, 3]
a.index(3)

2

In [41]:
a.index(1)

0

In [43]:
a = [1, 2, 3]
a.insert(0, 4)
a

[4, 1, 2, 3]

In [45]:
a.insert(3, 5)
a

[4, 1, 2, 5, 5, 3]

In [48]:
a = [1, 2, 3, 1, 2, 3]
a.remove(3)
a

[1, 2, 1, 2, 3]

In [49]:
a.remove(3)
a

[1, 2, 1, 2]

In [50]:
a = [1, 2, 3]
a.pop()

3

In [51]:
a

[1, 2]

In [54]:
a = [1, 2, 3]
a.pop(0)

1

In [55]:
a

[2, 3]

In [56]:
a = [1, 2, 3, 1]
a.count(1)

2

In [57]:
a = [1, 2, 3]
a.extend([4, 5])
a

[1, 2, 3, 4, 5]

In [2]:
t1 = (1, 2, 'a', 'b')
t1[0]

1

In [3]:
t1[3]

'b'

In [4]:
t1 = (1, 2, 'a', 'b')
t1[1:]

(2, 'a', 'b')

In [5]:
t2 = (3, 4)
t1 + t2

(1, 2, 'a', 'b', 3, 4)

In [6]:
t2 * 3

(3, 4, 3, 4, 3, 4)

In [7]:
t1 = (1, 2, 'a', 'b')
len(t1)

4

In [8]:
t3 = (1, 2, 3)
t3 + (4,)

(1, 2, 3, 4)

In [9]:
dic = {'name': 'pey', 'phone': '0119993323', 'birth': '1118'}

In [24]:
a = {1: 'hi'}

In [25]:
a = {'a': [1,2,3]}

In [26]:
a = {1: 'a'}
a[2] = 'b'
a

{1: 'a', 2: 'b'}

In [27]:
a['name'] = 'pey'
a

{1: 'a', 2: 'b', 'name': 'pey'}

In [28]:
a[3] = [1, 2, 3]
a

{1: 'a', 2: 'b', 'name': 'pey', 3: [1, 2, 3]}

In [30]:
del a[1]
a

{2: 'b', 'name': 'pey', 3: [1, 2, 3]}

In [31]:
grade = {'pey' : 10, 'julliet':99}
grade['pey']

10

In [32]:
grade['julliet']

99

In [33]:
a = {1:'a', 2:'b'}
a[1]

'a'

In [34]:
a[2]

'b'

In [36]:
a = {'a':1, 'b':2}
a['a']

'1'

In [37]:
dic['name']

'pey'

In [38]:
dic['phone']

'0119993323'

In [39]:
dic['birth']

'1118'

In [40]:
a = {1:'a', 1:'b'}
a

{1: 'b'}

In [42]:
a = {(1,2) : 'hi'}
a[(1,2)]

'hi'

In [43]:
a = {[1,2]:'hi'}

TypeError: unhashable type: 'list'

In [44]:
a = {'name':'pey','phone':'0119933323','birth':'1118'}
a.keys()

dict_keys(['name', 'phone', 'birth'])

In [45]:
for k in a.keys():
    print(k)

name
phone
birth

In [46]:
list(a.keys())

['name', 'phone', 'birth']

In [47]:
a.values()

dict_values(['pey', '0119933323', '1118'])

In [48]:
a.items()

dict_items([('name', 'pey'), ('phone', '0119933323'), ('birth', '1118')])

In [50]:
a.clear()
a

{}

In [51]:
a = {'name':'pey', 'phone':'0119993323', 'birth':'1119'}
a.get('name')

'pey'

In [52]:
a['name']

'pey'

In [53]:
'name' in a

True

In [54]:
'email' in a

False

In [55]:
s1 = set([1, 2, 3])
s1

{1, 2, 3}

In [56]:
s2 = set("Hello")
s2

{'H', 'e', 'l', 'o'}

In [57]:
s1 = set([1, 2, 3])
l1 = list(s1)
l1

[1, 2, 3]

In [58]:
t1 = tuple(s1)
t1

(1, 2, 3)

In [59]:
t1[0]

1

In [60]:
s1 = set([1,2,3,4,5,6])
s2 = set([4,5,6,7,8,9])
s1 & s2

{4, 5, 6}

In [61]:
s1.intersection(s2)

{4, 5, 6}

In [67]:
s1 | s2

{1, 2, 3, 4, 5, 6, 7, 8, 9}

In [68]:
s1.union(s2)

{1, 2, 3, 4, 5, 6, 7, 8, 9}

In [69]:
s1 - s2

{1, 2, 3}

In [70]:
s2 - s1

{7, 8, 9}

In [71]:
s1.difference(s2)

{1, 2, 3}

In [72]:
s2.difference(s1)

{7, 8, 9}

In [74]:
s1 = set([1,2,3])
s1.add(4)
s1

{1, 2, 3, 4}

In [75]:
s1 = set([1, 2, 3])
s1.update([4, 5, 6])
s1

{1, 2, 3, 4, 5, 6}

In [77]:
s1 = set([1, 2, 3])
s1.remove(2)
s1

{1, 3}

In [78]:
a = True
b = False

In [79]:
type(a)

bool

In [80]:
type(b)

bool

In [81]:
1 == 1

True

In [82]:
2 > 1

True

In [83]:
2 < 1

False

In [87]:
a = [1, 2, 3, 4]
while a: 
    a.pop()

In [88]:
bool('python')

True

In [89]:
bool('')

False

In [90]:
a = [1, 2, 3]
id(a)

1580886936192

In [91]:
a = [1, 2, 3]
b = a
id(a)

1580886492224

In [92]:
id(b)

1580886492224

In [93]:
a is b

True

In [94]:
a[1] = 4
a

[1, 4, 3]

In [95]:
b

[1, 4, 3]

In [100]:
a = [1, 2, 3]
b = a[:]
a[1] = 4
a

[1, 4, 3]

In [99]:
b

[1, 2, 3]

In [101]:
from copy import copy
a = [1, 2, 3]
b = copy(a)
a

[1, 2, 3]

In [102]:
b

[1, 2, 3]

In [103]:
id(a)

1580886344448

In [104]:
id(b)

1580886503168

In [105]:
a is b

False

In [113]:
a = 80
b = 75
c = 55
(a+b+c)/3

70.0

In [115]:
13 % 2

1

In [122]:
pin = '881120-1068234'
yyyymmdd = pin[:6]
num = pin[7:]
print(yyyymmdd)
print(num)

881120
1068234

In [126]:
print(pin[7])

1

In [3]:
a = "a:b:c:d"
b = a.replace(":","#")
b

'a#b#c#d'

In [5]:
a = [1, 3, 5, 4, 2]
a.sort()
a.reverse()
a

[5, 4, 3, 2, 1]

In [7]:
a = [1, 3, 5, 4, 2]
a.sort(reverse = True)
a

[5, 4, 3, 2, 1]

In [8]:
a = ['Life', 'is', 'too', 'short']
result = ' '.join(a)
print(result)

Life is too short

In [13]:
a = (1, 2, 3)
a = a + (4,)
a

(1, 2, 3, 4)

In [16]:
a = dict()
a

{}

In [17]:
a = {'A':90, 'B':80, 'C':70}
result = a['B']
print(a)
print(result)

{'A': 90, 'B': 80, 'C': 70}
80